/* Footer Area CSS */
.footer-area {
    background-color: $dark;
    color: $white;

    .footer-wrap {
        text-align: center;

        .footer-social {
            padding: 2.5rem 0 2rem;
            color: $gray;

            @include breakpoint-up(xlarge) {
                padding: 3rem 0 2rem;
            }

            h4 {
                font-weight: 700;
                text-shadow: 0 0.125rem 0.25rem $shadow;
                margin-bottom: 0.5rem;
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    &:not(:last-child) {
                        margin-right: 0.875rem;
                    }
                    
                    a {
                        i {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
        
        .footer-copyright {
            border-top: 0.0625rem solid $gray;
            padding: 2rem 0 2.5rem;

            @include breakpoint-up(xlarge) {
                padding: 2rem 0 3rem;
            }

            p {
                text-transform: capitalize;
                font-size: 0.865rem;
                font-weight: 300;
                color: $gray;
            }
        }
    }
}