$main_color: hsl(323, 57%, 48%);
$blue_color: hsl(196, 81%, 51%);
$hover: hsl(324, 68%, 32%);
$white: hsla(360, 100%, 100%, 1);
$dark: hsla(0, 0%, 20%, 1);
$gray: hsla(0, 0%, 87%, 1);
$bg_gray: hsla(0, 0%, 95%, 1);
$shadow: hsla(0, 0%, 20%, 0.3);